.viewport__modal {
  width: 100%;
  height: 100%;
}

.viewport__modal__title {
  font-size: 3em;
  width: 100%;
  height: 10%;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 2%;
  text-align: center;
}

.viewport__modal__context {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button {
  border: none;
  font-size: 2.5em;
  color: rgb(70, 64, 54);
  background-color: #fbe158;
  cursor: pointer;
  padding: 4%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 10px 9px;
}

.modal-button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(59, 59, 59, 0.7);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay__content-wrapper {
  width: 35em;
  height: 25em;
  border-radius: 15px;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-overlay__content__button {
  position: relative;
  color: rgb(63, 62, 62);
  top: -30%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 1.5%;
  background-color: white;
  font-size: 2em;
  margin: 1.6%;
}

.modal-overlay__content__button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modal-overlay__content__text {
  font-size: 3em;
  font-weight: 600;
  color: rgb(70, 64, 54);
}
