.viewport__tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewport__tab__title {
  font-size: 3em;
  width: 100%;
  height: 10%;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 2%;
  text-align: center;
}

.viewport__tab__content {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.tab__header-wrapper {
  width: 100%;
  height: 20%;
  font-size: 1.7em;
  display: flex;
}

.tab__header-wrapper div {
  flex-basis: 4em;
  flex-shrink: 1;
  padding: 0.6em 0 0.6em 0.3em;
  cursor: pointer;
  background-color: rgb(197, 194, 194);
  color: rgb(235, 229, 229);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.tab__viewport {
  width: 100%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  font-size: 2.5em;
  color: rgb(70, 64, 54);
  font-weight: 550;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
