.viewport-wrapper {
  width: 42em;
  height: 43em;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.viewport__toggle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewport__toggle__title {
  font-size: 3em;
  width: 100%;
  height: 10%;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 2%;
  text-align: center;
}

.viewport__toggle__context {
  flex-grow: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewport__toggle__context h2 {
  margin-top: 10%;
  font-size: 1.5em;
}

.viewport__toggle__button-wrapper {
  position: relative;
  width: 18em;
  height: 7em;
  background-color: rgb(211, 211, 211);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 10px 9px;
  display: flex;
  align-items: center;
  padding: 0 1% 0 1%;
}

.toggle-overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(155, 101, 0);
  position: absolute;
  left: -100%;
  transition: transform 0.45s ease-out;
}

.toggle-on {
  left: 100%;
}

.toggle-button {
  position: relative;
  width: 6em;
  height: 6em;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.45s ease-out;
  cursor: pointer;
}

.toggle-button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
