@import "./reset.css";

body,
html,
#root {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

.app {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

header {
  font-size: 5em;
  height: 7%;
  width: 100%;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}

main {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 3em;
}

.button-wrapper {
  width: 70%;
  height: 30%;
}
