@import "./reset.css";

body,
html,
#root {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

.app {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

header {
  margin-top: 5%;
  font-size: 5em;
  height: 13%;
  width: 100%;
  text-align: center;
}

header img {
  width: 2em;
  object-fit: contain;
}

main {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 3em;
}

.button-wrapper {
  width: 70%;
  height: 20%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper button {
  font-size: 2em;
  margin: 0.5em;
  padding: 0.6em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 223, 220);
  color: #807230;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.viewport-wrapper {
  width: 60em;
  height: 43em;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewport-wrapper h1 {
  font-size: 2em;
}
